<%- include('../partials/head') -%>

<h1>Display All Books <a href="/books/new"><button>Create new book</button></a></h1>
<div>
    <% data.forEach( book => { %>
        <h2><a href="/books/<%= book._id %>"><%= book.title %></a></h2>
        <p>Author: <%= book.author %></p>
        <p>Price: $<%= book.price %></p>
        <p>Copies Sold: <%= book.numSold %></p>

        <div>
            <button><a href="/books/<%= book._id %>/edit">Edit</a></button>
        </div>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>   
    <% }); %>

</div>

<%- include('../partials/footer') -%>